<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    <nav>
      <h1>Omniwyse</h1>
      <div class="topnav">
        <a href="#Logout">Logout</a>
  <a href="#Hello Admin">Hello Admin</a>
      </div>
     </nav>
    
      <form action="/action_page.php"> 
        <input type="text" name="text" class="search" placeholder="Search here!">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    <br>
    <br>
    <div>
<a href="Announcement 1">Announcement 1</a>

&nbsp;&nbsp;&nbsp;&nbsp;
<a href="Announcement 2">Announcement 2</a>
<br>
<br>
<br>
<br>
<a href="Announcement 3">Announcement 3</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="Announcement 4">Announcement 4</a>
<br>
<br>
<br>
<br>

<a href="Create Announcements"><button class="button">Create Announcements</button></a>
    </div>
    </body>
